:root {
  --first-color: #eceded;
  --second-color: #d5344d;
  --third-color: #8f8f8f;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  background: linear-gradient(
      25deg,
      #eceded 40%,
      transparent 41%,
      transparent 59%,
      #eceded 60%
    ),
    linear-gradient(
      90deg,
      transparent 45%,
      #dddddd 45%,
      #dddddd 55%,
      transparent 55%,
      transparent 20%,
      #dddddd 20%,
      #dddddd 30%,
      transparent 30%
    ),
    linear-gradient(90deg, #dddddd 9%, transparent 10%);
  background-size: 3em 3em;
  background-color: #eceded;
  opacity: 1;
}

h1 {
  font-size: 50px;
  color: var(--first-color);
  text-align: center;
  padding: 20px 10px 10px 10px;
}

h2 {
  font-size: 42px;
  color: var(--second-color);
  text-align: center;
}

h4 {
  font-size: 22px;
  color: var(--third-color);
  padding-bottom: 10px;
}

h1,
h2,
h4 {
  font-family: "DM Serif Text", serif;
}

p {
  line-height: 1.5;
  font-size: 14px;
  color: #252525;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

.App-footer {
  margin: 30px 0;
  text-align: center;
}

.App-header {
  margin: 30px 0px;
}

.App-logo {
  max-width: 850px;
  display: block;
  margin: 0 auto;
}

.bold-text {
  font-weight: 600;
  display: inline;
  color: var(--second-color);
}

.container {
  max-width: 850px;
}

.Dictionary input {
  width: 100%;
  border-radius: 6px;
  border: 1px solid #919191;
  color: var(--second-color);
  padding: 5px 10px;
  font-weight: 300;
}

.Dictionary section {
  background: #fff;
  padding: 30px 25px;
  margin: 18px 0;
  border-radius: 12px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.footer-text {
  font-size: 10px;
  color: var(--third-color);
  text-align: center;
  padding-bottom: 20px;
}

.hero-image {
  background-image: url("./logo.png");
  height: 330px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: rgb(50 50 93 / 95%) 0px 2px 5px -1px,
    rgb(0 0 0 / 50%) 0px 1px 3px -1px;
}

.phonetic-text {
  color: #696969;
  font-weight: 500;
  text-align: center;
  display: block;
}

.word-block {
  background: #fff;
  padding: 30px;
  margin: 20px 0;
}
